{
    "extends": [
        "@antfu",
        "plugin:tailwindcss/recommended"
    ],
    "ignorePatterns": [
        "!pages/public"
    ],
    "overrides": [
        {
            "files": [
                "locales/**.json"
            ]
        }
    ],
    "rules": {
        "n/prefer-global/process": "off",
        "eqeqeq": "off",
        "no-console": "off",
        "max-statements-per-line": "off",
        "no-mixed-operators": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-non-null-asserted-optional-chain": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "array-callback-return": "off",
        "eslint-comments/no-unlimited-disable": "off",
        "tailwindcss/no-custom-classname": "off",
        "sort-keys": "off"
    },
    "plugins": [
        "simple-import-sort"
    ]
}