.tippy-box {
  background-color: #334155 !important;
  color: white !important;
  border: 1px solid #334155;
  padding: 8px 16px !important;
  border-radius: 15px !important;
  font-size: 12px !important;
}

.tippy-content {
  font-family: "Source Code Pro" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 20px !important;
  padding: 0 !important;
}

.tippy-arrow {
  color: #334155 !important;
  border-color: #334155 !important;
}

.scroll-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scroll-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Chrome, Edge, and Safari */
.scroll-style::-webkit-scrollbar {
  width: 16px;
  background: none;
}
.scroll-style::-webkit-scrollbar-track {
  margin-top: 10px;
}
.scroll-style::-webkit-scrollbar-thumb {
  @apply rounded-[20px] bg-transparent;
  box-shadow: inset 0 0 14px 14px #cbd5e1;
  border: solid 5px transparent;
}
html.dark .scroll-style::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #334155;
}

/* Reset input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.copy_svg__copy-path {
  @apply dark:fill-gray-850 fill-slate-50;
}

.clipboard_svg__paste-path {
  @apply dark:fill-slate-800 fill-slate-100;
}
