@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen dark:bg-gray-950 bg-white dark:text-white text-slate-900 font-semibold;
  }

  html.dark {
    color-scheme: dark;
  }

  html.dark .scroll-style::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #334155;
  }

  details > summary {
    list-style: none;
  }

  details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
  details > summary::-webkit-details-marker /* Safari */ {
    display: none;
  }

  /* Reset input number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;

    height: 20px;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8995 14.8995L5 5' stroke='%2394A3B8' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M10 10C10 10 10.1529 10 10.3132 10C10.3745 10 10.4368 10 10.5 10C10.5632 10 10.6255 10 10.6868 10C10.8471 10 11 10 11 10C11 10 10.8471 10 10.6868 10C10.6255 10 10.5632 10 10.5 10C10.4368 10 10.3745 10 10.3132 10C10.1529 10 10 10 10 10Z' fill='%231E293B' stroke='%2394A3B8'/%3E%3Cpath d='M14.8995 5.10051L5 15' stroke='%2394A3B8' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
}

@layer utilities {
  .success-circle {
    @apply text-white;
  }

  .success-circle path:first-child {
    @apply fill-green-400 stroke-green-400;
  }

  .svg-circle > path:first-child {
    @apply stroke-slate-400 fill-slate-400;
  }

  .svg-circle.darker > path:first-child {
    @apply dark:stroke-slate-750 dark:fill-slate-750 fill-slate-150 stroke-slate-150;
  }

  html.dark .loading-box {
    background: linear-gradient(-45deg, #475569, #334155, #334155);
    background-size: 400% 400%;
    animation: gradient 1.6s linear infinite;
  }

  .modal-open {
    overflow: hidden;
  }

  .loading-box {
    background: linear-gradient(-45deg, #e2e8f0, #cbd5e1, #cbd5e1);
    background-size: 400% 400%;
    animation: gradient 1.5s ease-in-out 0.1s infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
      opacity: 1;
    }
    50% {
      background-position: 100% 50%;
      opacity: 0.6;
    }
    100% {
      background-position: 0% 50%;
      opacity: 1;
    }
  }
}

.tippy-box {
  @apply dark:bg-slate-600 bg-slate-200 text-slate-900 dark:text-white border-none !important;
  @apply px-3 py-[5px] rounded-5 text-xs !important;
}

.tippy-content {
  @apply p-0 font-medium leading-5 !important;
  font-family: "Source Code Pro" !important;
  font-style: normal !important;
}

.tippy-arrow {
  @apply dark:text-slate-600 text-slate-200 !important;
}

.scroll-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scroll-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Chrome, Edge, and Safari */
.scroll-style::-webkit-scrollbar {
  width: 16px;
  background: none;
}
.scroll-style::-webkit-scrollbar-track {
  margin-top: 10px;
}
.scroll-style::-webkit-scrollbar-thumb {
  @apply rounded-[20px] bg-transparent;
  box-shadow: inset 0 0 14px 14px #cbd5e1;
  border: solid 5px transparent;
}

html.dark .scroll-style::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #334155;
}

.scroll-style {
  scrollbar-color: #cbd5e1 transparent;
}
html.dark .scroll-style {
  scrollbar-color: #374151 transparent;
}

.copy_svg__copy-path {
  @apply dark:fill-gray-850 fill-slate-50;
}

.clipboard_svg__paste-path {
  @apply dark:fill-slate-800 fill-slate-100;
}

.success-circle path:first-child {
  @apply fill-green-400 stroke-green-400;
}
.-cbwsdk-css-reset body {
  background-color: transparent !important;
}

.text-shadow {
  background: linear-gradient(90deg, #0f172a 85.41%, rgba(15, 23, 42, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.overflow-y-overlay {
  overflow-y: auto;
}

@supports (overflow-y: overlay) {
  .overflow-y-overlay {
    overflow-y: overlay;
  }
}

html.dark .text-shadow {
  background: linear-gradient(
    90deg,
    #ffffff 85.41%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

input[type="search" i]::-webkit-search-cancel-button {
  cursor: pointer;
}
